@model Tuple<User, Questions, List<Answers>>
@{
    ViewBag.Title = "Forum";
}
<link href="~/css/Forum/ShowQuestion.css" rel="stylesheet" type="text/css" />

<body>
    <div>
        <h1>Question</h1>
    </div>
    <div style="background-color: #c8e9ee;">
        <div class="DisplayAuthor">
            Author: @Html.DisplayFor(x => x.Item1.NickName)
        </div>
        <div class="DisplayTime">
            @Html.DisplayFor(d => d.Item2.PostDate)
        </div>
        <div class="DisplayText">
            @Html.DisplayFor(x => x.Item2.QuestionText)
        </div>
    </div>
    <div class="BottomLine"></div>

    <div class="DisplayText">
        @foreach (var item in Model.Item3)
        {
            @Html.DisplayName(item.AnswerText)
            <br />
            <br />
        }
    </div>

    @using (Html.BeginForm("CreateAnswer", "Forum", FormMethod.Post))
    {
        <div>
            @Html.TextArea("answerText", new { @class = "AnswerTextBox" })
        </div>
        <button class="PostAnswer" type="submit">Post Answer</button>
    }
</body>
@*<script>
        const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight))
            tx[i].addEventListener("input", OnInput, false);
        }

        function OnInput() {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
        }
    </script>*@
